body {
	background-color: white;
	color: grey;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 25px;
}
p{
    font-size: 20px;
}

.guessBtn {
	background-color: green;
	width: 50px 50px;
	height: 50px;
	font-size: 20px;
	margin: auto;
	text-align: center;
}

.numberGuess {
	
	text-align: center;
	font-size: 25px;
	margin: auto;
}

.container {
	background-color: grey;
	align-items: center;
	margin: 5%;
	text-align: center;
	padding: 1%;
	padding-bottom: 1%;
    box-sizing: border-box;
    width: 750px;
    height: 550px;
    color: #fff;
    font-size: 25px;
    border: 5px solid lightblue;
	

}

.message {
	font-weight: bolder;
	padding-bottom: 1%;
	text-align: center;
}

